@import './utils/variables';
@import './utils/resert';
@import './components/container';
@import './components/logo';
@import './components/header';
@import './components/hero';
@import './components/btn';
@import './components/section';
@import './components/visually';
@import './components/advantages';
@import './components/activity';
@import './components/team';
@import './components/social';
@import './components/clients';
@import './components/footer';
@import './components/backdrop';
@import './components/portfolio-btn';
@import './components/layout';
@import './components/works';
