
.activity {
  display: flex;
}

.activity__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.activity__title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-size: 14px;
  text-transform: uppercase;
  color: $colorWhite;
  background-color: rgba(47, 48, 58, 0.8);
}
