.advantages {
  display: block;

  @include tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.advantages__item {
  max-width: 450px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @include tab {
    max-width: 354px;

    &:not(:last-child) {
      margin-bottom: 0px;
    }

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @include desk {
    display: block;
    max-width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.advantages__img-bcg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: $backgroundSelectColor;
  border-radius: 4px;
}

.advantages__img {
  width: 70px;
  height: 70px;
}

.advantages__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: $bodyTitleColor;

  @include tab {
    text-align: left;
  }
}

.advantages__desc {
  line-height: 1.71;
}
