.advantages {
  display: block;

  @include tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.advantages__item {
  max-width: 450px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @include tab {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @include desk {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.advantages__img-bcg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: $backgroundSelectColor;
  border-radius: 4px;
}

.advantages__img {
  width: 70px;
  height: 70px;
}

.advantages__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: $bodyTitleColor;

  @include tab {
    text-align: left;
  }
}

.advantages__desc {
  line-height: 1.71;
}
