.container {
  padding: 0 15px;
  margin: 0 auto;
  @include tel {
    max-width: 480px;
  }
  @include tab {
    max-width: 768px;
  }
  @include desk {
    max-width: 1200px;
  }
}

.container__page-header {
  @include tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

