.hero {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/Header-mob@1-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/Header-mob@2-min.jpg');
  }

  @include tel {
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include tab {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/Header-tab@1-min.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/Header-tab@2-min.jpg);
    }
  }

  @include desk {
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600px;
    max-width: 1600px;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/Header-desc@1-min.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/Header-desc@2-min.jpg);
    }
  }

  & .container {
    text-align: center;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $heroTitleColor;

  @include tel {
    font-size: 26px;
    line-height: 42px;
  }

  @include desk {
    font-size: 44px;
    line-height: 1.36;
  }
}
