.hero {
  max-width: 1600px;
  height: 400px;

  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/header-mob@1-min.jpg);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/header-mob@2-min.jpg);
  }
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;

  @include tab {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/header-tab@1-min.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/header-tab@2-min.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;

    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/header-desc@1-min.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/header-desc@2-min.jpg);
    }
  }

  & .container {
    text-align: center;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $heroTitleColor;

  @include tel {
    font-size: 26px;
    line-height: 42px;
  }

  @include desk {
    font-size: 44px;
    line-height: 1.36;
  }
}
