.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--hidden {
  display: none;

  @include desk {
    display: block;
  }
}

.section--nopaddingtop {
  padding-top: 0;
}

.section--team-bcg {
  background-color: $backgroundSelectColor;
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: $bodyTitleColor;

  @include tel {
    font-size: 28px;
  }

  @include desk {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
