h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: $bodyFontFamily, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $bodyTextColor;
  background-color: $backgroundColor;
}
