$backgroundColor: #ffffff;
$backgroundSelectColor: #f5f4fa;
$accentColor: #2196f3;
$bodyTextColor: #757575;
$bodyTitleColor: #212121;
$heroTitleColor: #ffffff;
$buttonHoverTextColor: #ffffff;
$footerColor: #2f303a;
$copyrightLinkColor: rgba(255, 255, 255, 0.6);
$colorWhite: #ffffff;
$colorBlack: #000000;
$iconColor: #afb1b8;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$overlayWorksColor: rgba(33, 150, 243, 0.9);
$backdropBackgroundColor: rgba(0, 0, 0, 0.2);
$bodyFontFamily: 'Roboto';
$logoFontFamily: 'Raleway';